apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: infrastructure
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: cert-manager
    helm:
      values: |
        installCRDs: true
    repoURL:  https://charts.jetstack.io
    targetRevision: v1.0.2
  syncPolicy:
    automated:
      prune: true
  ignoreDifferences:
    - group: apiextensions.k8s.io
      jsonPointers:
        - /status
      kind: CustomResourceDefinition
