apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: infrastructure
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://kubernetes-charts.storage.googleapis.com/
    chart: sealed-secrets
    helm:
      valueFiles:
      - values.yaml
    targetRevision: 1.10.3
  syncPolicy:
    automated:
      prune: true

