apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: infrastructure
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: ingress-nginx
    helm:
      values: |      
        service:
          type: LoadBalancer
          spec:
            loadBalancerIP: 192.168.2.151
        defaultBackend:
          enabled: true
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 3.3.0
  syncPolicy:
    automated:
      prune: true

