apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: infrastructure
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: traefik
    helm:
      values: |
      
      service:
        type: LoadBalancer
        spec:
          loadBalancerIP: 192.168.2.151
      dashboard:
        annotations:
          kubernetes.io/ingress.class: traefik

    repoURL: https://helm.traefik.io/traefik
    targetRevision: 9.3.0
  syncPolicy:
    automated:
      prune: true
