alertmanager:
  enabled: false

grafana:
  enabled: true
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
    hosts:
      - grafana.rizkidoank.internal
    path: /
